* {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: url("/Imagens/Outdoor.png") no-repeat fixed;
    background-size: cover;
}

#container {
    width: 80%;
    height: 100%;
    margin: auto;
    background: #0097d293;
    text-align: center;
    margin-top: 1.5em;
}

div#container {
    margin-top: 4em;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    padding: 1em;
}

iframe {
    margin-bottom: 2em;
}

#formulario label {
    font-size: 2em;
    margin: 2em;
}

#formulario input {
    width: 50%;
    height: 3em;
    margin: 2em;
    border-radius: 25px;
    border: #0097d2 5px solid;
    color: #0097d2;
    padding: 0em 2em;
    font-weight: bold;
}

#inOut label {
    font-size: 2em;
    margin: 2em 1em;
}

#inOut input {
    margin: 2em 5em;
}

button {
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom: 2em;
    color: #0097d2;
    border: #0097d2 5px solid;
    padding: 0.5em 2em;
    border-radius: 25px;
    cursor: pointer;
}

span#resultado {
    display: none;
    font-weight: bolder;
    font-size: 1.5em;
    padding: 3em;
    width: 20em;
    height: auto;
    background-color: #0097d2;
    border-radius: 25px;
    border: 5px solid #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#fechar {
    position: absolute;
    top: 0.1em;
    right: 0.5em;
    border: 1px solid #fff;
    padding: 0 0.2em;
    cursor: pointer;
}
footer{
    float: right;
    padding: 1em;
    margin-right: 14em;
    font-size: small;
    font-style: italic;
}